hr{
    width: 70pc;
}
h1{
    text-align: center;
    margin-top: 30px;
    padding-top: 0;
}
.badCon{
    margin: 20vh 0 20vh 0;
}

.docImg{
    margin-top: 0;
    opacity: 0.9;
    height: 400px;
    width: 85vw;
  }
  
  .titleHeading{
    text-align: center;
    color: black;
    margin-top: 30px;
  }

  .mb-4{
      text-align: center;
  }

  .dummyDesc{
      margin-bottom: 50px;
  }
  .imageDataRows{
      margin-top: 30px;
  }
  .img1{
      height: 25vw;
  }
  .imgl{
      height: 25vw;
      width: 34vw;
  }

  .bottomImageClass{
       margin: 30px 15px 5px 15px;
      text-align: center;

  }

  .viewImage{
      height: 300px;
  }
  .pseudo{
      border-style: solid;
      border-color: black;
      border-width: 5px;
  }
  .lastkarona{
      margin-top: 75px;
      margin-bottom: 30px;
  }

  .previews{
      margin-top: 30px;
      margin-bottom: 55px;
  }
