.homepageImg{
  position: relative;
  height: 100vh;
  width: 99vw;
}

.AppointmentBtn{
  border: solid 6px white;
  position: absolute;
  left: 15%;
  top: 70%;
  font-size: 28px;
  font-weight: 900;
  color: white;
}

.homepageCard{
  text-align: center;
}

.homepageCard .title {
  color: #e99002;
}

.homepageCard .desc{
  height: 70px;
}