.homepageImg{
  position: relative;
  height: 100vh;
  width: 99vw;
}

.AppointmentBtn{
  border: solid 6px white;
  position: absolute;
  left: 15%;
  top: 70%;
  font-size: 28px;
  font-weight: 900;
  color: white;
}

.homepageCard{
  text-align: center;
  border: solid #008CBA 1px;
  border-radius: 15px;
  padding: 10px;
  
}
.homepageCard:hover{
  box-shadow: 5px 5px 5px #aaaaaa;
}

.homepageCard .title {
  color: #e99002;
}

.homepageCard:hover .title {
  color: #e99002;
  font-weight: bolder;
}

.homepageCard .desc{
  height: 70px;
}


.homepageDoctorCard{
  text-align: center;
}

.doctorsCarousel{
  width: 100%;
}